.clipboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    padding: 10px 10px 10px 15px;
    width: 30%;
}

.clipboard-icon-copy {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.clipboard-before-copy {
    color: gray;
}

.clipboard-before-copy:hover {
    background-color: #f5f5f5;
}

.clipboard-after-copy {
    color: green;
}

.clipboard-after-copy:hover {
    background-color: #f5f5f5;
}